@import url('https://fonts.googleapis.com/css2?family=Karla:ital@0;1&display=swap');
.container{
  height: 30rem;
  width: 20rem;
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;

}
.title{
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 10px;
  font-weight: 500;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.input{
  display: flex;
  margin-bottom: 15px;
}
 input{
  width: 100%;
  outline: none;
  border: 1px solid rgb(204, 204, 204);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 10px;
  color: rgb(84, 83, 83);
  font-size: 15px;
}
.add{
  padding: 5px 12px;
  background-color: rgb(129, 120, 210);
  margin-left:5px ;
  font-size: 30px;
  color: aliceblue;
  border-radius: 3px;
  cursor: pointer;
}
.bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 15px; */
  margin-top: auto;
}
.clear-all{
  padding: 5px 10px;
  color: aliceblue;
  background-color: rgb(129, 120, 210);
  cursor: pointer;
  border-radius: 3px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.bottom-text{
  font-size: 17px;
  color: rgb(97, 95, 95);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.scroll{
  overflow: auto;
  padding-right: 5px;
  margin-bottom: 10px;
}